doctype html
html(lang='ru')
  include ../layouts/head.pug
  body
    header.page-header
      .page-header__container
        .page-header__row
          a.page-header__logo.logo
            svg.logo__img(width='75' height='22' aria-label='Pink')
              use(xlink:href='img/symbols.svg#logo-pink-mobile')
          button.page-header__menu-toggle(type='button')
            svg(width='24' height='24')
              use(xlink:href='img/symbols.svg#icon-menu-cross')
            span.visually-hidden
              | Переключить меню
        nav.main-nav
          ul.main-nav__list
            li.main-nav__item
              a.main-nav__link
                | Главная
            li.main-nav__item
              a.main-nav__link(href='photos.html')
                | Фотографии
            li.main-nav__item
              a.main-nav__link(href='contest.html')
                | Конкурс
            li.main-nav__item
              a.main-nav__link(href='https://htmlacademy.ru/' target='_blank')
                | HTML Academy

    main
      include ../components/promo.pug
      include ../components/info.pug
      include ../components/research.pug
      include ../components/reviews.pug
      include ../components/price-list.pug
      include ../components/contacts.pug

    script(src='js/concatenated.js')
