doctype html
html(lang='ru')
  include ../layouts/head.pug
  body
    include ../layouts/page-header.pug

    h1
      | Content

    include ../layouts/page-footer.pug
    script(src='js/concatenated.js')
