doctype html
html(lang='ru')
  include ../layouts/head.pug
  body.photos
    header.page-header
      .page-header__row
        a.page-header__logo.logo(href='index.html')
          svg.logo__img(width='75' height='22' aria-label='Pink')
            use(xlink:href='img/symbols.svg#logo-pink-mobile')
        button.page-header__menu-toggle(type='button')
          svg(width='24' height='24')
            use(xlink:href='img/symbols.svg#icon-menu-cross')
          span.visually-hidden
            | Переключить меню
      nav.main-nav
        ul.main-nav__list
          li.main-nav__item
            a.main-nav__link(href='index.html')
              | Главная
          li.main-nav__item
            a.main-nav__link
              | Фотографии
          li.main-nav__item
            a.main-nav__link(href='contest.html')
              | Конкурс
          li.main-nav__item
            a.main-nav__link(href='https://htmlacademy.ru/' target='_blank')
              | HTML Academy

    main
      .hero
        h1.hero__title
          | Фотографии пользователей
      .description
        p.description__text
          | Взгляните на фотографии, которые выкладывают пользователи! Видите, как не хватает ваших?
      .photos__list
        .photo.photo--big
          a.photo__img-wrap(href='#')
            img(src='img/panorama-mobile@1x.jpg' width='320' height='137' alt='')
            span.photo__flag
              | Панорама дня
          .photo__bottom
            .photo__bottom-container
              blockquote.photo__blockquote
                .photo__blockquote-top
                  cite.photo__author
                    | Анна
                    |
                  span.photo__time
                    | (
                    span
                      | 5
                    span
                      |
                      | минут
                    |
                    | назад)
                p.photo__text
                  | Прыгать или нет? Напишите в коментарии свой совет и смотрите прямую трансляцию в перископе, задавайте свои вопросы!
              .photo__likes
                button.photo__like-btn(type='button')
                  svg(width='13' height='12')
                    use(xlink:href='img/symbols.svg#icon-heart')
                span
                  | Нравится:
                  span
                    |
                    | 215
        .photo
          a.photo__img-wrap(href='#')
            img(src='img/photo-car-mobile@1x.jpg' width='280' height='180' alt='')
          .photo__bottom
            .photo__bottom-container
              blockquote.photo__blockquote
                .photo__blockquote-top
                  cite.photo__author
                    | Левон
                    |
                  span.photo__time
                    | (
                    span
                      | 5
                    span
                      |
                      | часов
                    |
                    | назад)
                p.photo__text
                  | Вчера он на луну летал, сегодня в руки к нам попал.
              .photo__likes
                button.photo__like-btn(type='button')
                  svg(width='13' height='12')
                    use(xlink:href='img/symbols.svg#icon-heart')
                span
                  | Нравится:
                  span
                    |
                    | 356
        .photo
          a.photo__img-wrap(href='#')
            img(src='img/photo-drumset-mobile@1x.jpg' width='280' height='180' alt='')
          .photo__bottom
            .photo__bottom-container
              blockquote.photo__blockquote
                .photo__blockquote-top
                  cite.photo__author
                    | Антон
                    |
                  span.photo__time
                    | (
                    span
                      | 12
                    span
                      |
                      | часов
                    |
                    | назад)
                p.photo__text
                  | Соседи будут рады!
              .photo__likes
                button.photo__like-btn(type='button')
                  svg(width='13' height='12')
                    use(xlink:href='img/symbols.svg#icon-heart')
                span
                  | Нравится:
                  span
                    |
                    | 666
        .photo
          a.photo__img-wrap(href='#')
            img(src='img/photo-window-mobile@1x.jpg' width='280' height='180' alt='')
          .photo__bottom
            .photo__bottom-container
              blockquote.photo__blockquote
                .photo__blockquote-top
                  cite.photo__author
                    | Борис
                    |
                  span.photo__time
                    | (
                    span
                      | 20
                    span
                      |
                      | часов
                    |
                    | назад)
                p.photo__text
                  | Здесь могла быть ваша цитата о высоком и вечном.
              .photo__likes
                button.photo__like-btn(type='button')
                  svg(width='13' height='12')
                    use(xlink:href='img/symbols.svg#icon-heart')
                span
                  | Нравится:
                  span
                    |
                    | 215
        .photo
          a.photo__img-wrap(href='#')
            img(src='img/photo-fair-mobile@1x.jpg' width='280' height='180' alt='')
          .photo__bottom
            .photo__bottom-container
              blockquote.photo__blockquote
                .photo__blockquote-top
                  cite.photo__author
                    | Сергей
                    |
                  span.photo__time
                    | (
                    span
                      | 25
                    span
                      |
                      | часов
                    |
                    | назад)
                p.photo__text
                  | Самая кубанская в мире!
              .photo__likes
                button.photo__like-btn(type='button')
                  svg(width='13' height='12')
                    use(xlink:href='img/symbols.svg#icon-heart')
                span
                  | Нравится:
                  span
                    |
                    | 4
        .photo
          a.photo__img-wrap(href='#')
            img(src='img/photo-pov-mobile@1x.jpg' width='280' height='180' alt='')
          .photo__bottom
            .photo__bottom-container
              blockquote.photo__blockquote
                .photo__blockquote-top
                  cite.photo__author
                    | Максим
                    |
                  span.photo__time
                    | (
                    span
                      | 40
                    span
                      |
                      | часов
                    |
                    | назад)
                p.photo__text
                  | Где снег-то?
              .photo__likes
                button.photo__like-btn(type='button')
                  svg(width='13' height='12')
                    use(xlink:href='img/symbols.svg#icon-heart')
                span
                  | Нравится:
                  span
                    |
                    | 150
        .photo
          a.photo__img-wrap(href='#')
            img(src='img/photo-wing-mobile@1x.jpg' width='280' height='180' alt='')
          .photo__bottom
            .photo__bottom-container
              blockquote.photo__blockquote
                .photo__blockquote-top
                  cite.photo__author
                    | Надежда
                    |
                  span.photo__time
                    | (
                    span
                      | 45
                    span
                      |
                      | часов
                    |
                    | назад)
                p.photo__text
                  | Всем GM и взаимные лайки!
              .photo__likes
                button.photo__like-btn(type='button')
                  svg(width='13' height='12')
                    use(xlink:href='img/symbols.svg#icon-heart')
                span
                  | Нравится:
                  span
                    |
                    | 2560
      .description
        p.description__text
          | Затмите их всех! Выкладывайте все, что накопилось в телефоне!
      form.upload(action='#' method='post')
        .upload__row
          .upload__container
            .upload__img-wrap
              img(src='img/photo-road-mobile@1x.jpg' width='280' height='374' alt='')
            .upload__control-btns
              button.upload__control-btn(type='button' disabled)
                svg(width='48', height='48')
                  use(xlink:href='img/symbols.svg#icon-editor-crop')
                span.visually-hidden
                  | Обрезать
              button.upload__control-btn(type='button')
                svg(width='48', height='43')
                  use(xlink:href='img/symbols.svg#icon-editor-fill')
                span.visually-hidden
                  | Залить
              button.upload__control-btn(type='button')
                svg(width='32', height='32')
                  use(xlink:href='img/symbols.svg#icon-editor-contrast')
                span.visually-hidden
                  | Контраст
            .upload__range-control.range-control
              .range-control__scale
                .range-control__bar(style='width: 80%;')
                .range-control__toggle
        .upload__row
          .upload__container
            button.upload__bottom-btn.btn.btn--pink(type='submit')
              | Запостить
            button.upload__bottom-btn.btn.btn--gray(type='button')
              | Отмена

    include ../layouts/page-footer.pug

    script(src='js/concatenated.js')
