{
  "extends": [
    "stylelint-config-standard-scss"
  ],
  "rules": {
    "color-function-notation": "legacy",
    "color-hex-length": "long",
    "color-named": "always-where-possible",
    "declaration-block-no-redundant-longhand-properties": null,
    "declaration-empty-line-before": null,
    "declaration-no-important": true,
    "font-family-name-quotes": "always-unless-keyword",
    "indentation": [2, {"ignore": ["inside-parens"]}],
    "max-line-length": 80,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "scss/comment-no-empty": null,
    "scss/dollar-variable-pattern": null,
    "scss/double-slash-comment-empty-line-before": null,
    "selector-class-pattern": null,
    "string-quotes": "single"
  }
}
