section.contacts
  .contacts__container
    h2.contacts__title
      | Остались вопросы? Свяжитесь с нами!
    address.contacts__address
      p.contacts__group
        b.contacts__group-title
          | Звоните
        a.contacts__link(href='tel:+78125556666')
          | +7 (812) 555-66-66
      p.contacts__group
        b.contacts__group-title
          | Пишите
        a.contacts__link(href='mailto:mail@htmlacademy.ru')
          | mail@htmlacademy.ru
      p.contacts__group
        b.contacts__group-title
          | Приезжайте в гости:
        a.contacts__link(href='#')
          | ул. Большая Конюшенная, 19/8
  .contacts__map
    img(src='img/bg-map-mobile-cropped@1x.png' width='320' height='200' alt='ул. Большая Конюшенная, 19/8')
