section.price-list
  h2.visually-hidden
    | Цены
  table.price-list__items
    tr
      td.price-list__item-name(colspan='2')
        | Стандарт
    tr
      td.price-list__cost(colspan='2')
        | 3,99 USD
    tr
      td.price-list__category-name
        | Розовый фильтр
      td
        | Да
    tr
      td.price-list__category-name
        | Смайлики
      td
        | Да
    tr
      td.price-list__category-name
        | Комментарии
      td
        | Нет
