section.promo
  h1.visually-hidden
    | Скачать приложение Pink
  .promo__img-wrap
    img(src='http://placehold.it/320x462' width='320' height='462' alt='')
  .promo__download
    a.promo__download-btn.btn(href='#')
      | Скачать приложение
    ul.promo__download-list.download-list
      li.download-list__item
        a.download-list__link(href='#')
          span.visually-hidden
            | Скачать для iOS
          img(src='http://placehold.it/47x56' width='47' height='56' alt='')
      li.download-list__item
        a.download-list__link(href='#')
          span.visually-hidden
            | Скачать для Android
          img(src='http://placehold.it/43x47' width='43' height='47' alt='')
      li.download-list__item
        a.download-list__link(href='#')
          span.visually-hidden
            | Скачать для Windows
          img(src='http://placehold.it/44x41' width='44' height='41' alt='')
    p.promo__download-text
      | Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
