section.research
  .research__container
    .research__column
      svg.research__watch(width='238' height='276')
        use(xlink:href='img/symbols.svg#icon-watch')
    .research__column
      h2.research__title
        | Эффект на 24 часа!
      p.research__desctiprion
        | Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
      a.research__link(href='#')
        | Узнать больше об исследовании
