section.reviews.slider
  .reviews__items.slider__items
    blockquote.reviews__item.slider__item
      cite.reviews__author-name
        | Николай Петров
      p.reviews__text
        | «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
    blockquote.reviews__item.slider__item
      cite.reviews__author-name
        | Николай Петров
      p.reviews__text
        | «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
    blockquote.reviews__item.slider__item
      cite.reviews__author-name
        | Николай Петров
      p.reviews__text
        | «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
  .reviews__toggles.slider__toggles
    button.slider__toggle(type='button' disabled)
      span.visually-hidden
        | 1
    button.slider__toggle(type='button')
      span.visually-hidden
        | 2
    button.slider__toggle(type='button')
      span.visually-hidden
        | 3
