footer.page-footer
  a.page-footer__logo.logo(href='index.html')
    img(src='http://placehold.it/59x39' width='59' height='39' alt='')
    img(src='http://placehold.it/72x22' width='75' height='22' alt='')
    span.visually-hidden
      | Pink
  ul.page-footer__social.social
    li.social__item
      a.social__link.social__link--tw(href='#' target='_blank')
        img(src='http://placehold.it/18x14' width='18' height='14' alt='Наш Twitter')
    li.social__item
      a.social__link.social__link--fb(href='#' target='_blank')
        img(src='http://placehold.it/9x18' width='9' height='18' alt='Наш Facebook')
    li.social__item
      a.social__link.social__link--yt(href='#' target='_blank')
        img(src='http://placehold.it/15x13' width='15' height='13' alt='Наш YouTube')
  .page-footer__copyright.copyright
    span.copyright__text
      | Разработано
    a.copyright__logo(href='https://htmlacademy.ru/intensive/adaptive' target='_blank')
      img.copyright__logo-img(src='http://placehold.it/27x34' width='27' height='34' alt='')
      span.visually-hidden
        | HTML Academy
