.btn {
  @include button-reset;

  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 14px 10px;

  font-weight: bold;
  font-size: 18px;
  color: white;

  border: 3px solid white;
  border-radius: 30px;

  &:not([disabled]) {
    cursor: pointer;

    &:hover,
    &:focus {
      color: $pink;

      background-color: white;
      outline: none;
    }

    &:active {
      color: rgba($pink, 0.3);
    }
  }
}

.btn--fluid {
  width: 100%;
}

.btn--pink {
  color: $pink;

  border-color: $pink;

  &:not([disabled]) {
    &:hover,
    &:focus {
      color: white;

      background-color: $pink;
    }

    &:active {
      color: rgba(white, 0.3);
    }
  }
}

.btn--gray {
  color: $dark-blue;

  border-color: $dark-blue;
  opacity: 0.1;

  &:not([disabled]) {
    &:hover,
    &:focus {
      color: $dark-blue;

      opacity: 0.3;
    }

    &:active {
      color: rgba(white, 0.3);

      background-color: $dark-blue;
    }
  }
}

.btn--green {
  text-transform: uppercase;

  background-color: #2aab6d;
  border: none;
  border-radius: 5px;

  &:not([disabled]) {
    &:hover,
    &:focus {
      color: white;

      background-color: #1c9b5e;
    }

    &:active {
      color: rgba(white, 0.3);
    }
  }

  &[disabled] {
    background-color: $gray--dark;
  }
}
