.btn {
  @include button-reset;

  display: block;
  box-sizing: border-box;
  width: 280px;
  padding: 14px 10px;

  font-weight: bold;
  font-size: 18px;
  color: white;

  border: 3px solid white;
  border-radius: 30px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $pink;

    background-color: white;
    outline: none;
  }

  &:active {
    color: rgba($pink, 0.3);
  }

  &--pink {
    color: $pink;

    border-color: $pink;

    &:hover,
    &:focus {
      color: white;

      background-color: $pink;
    }

    &:active {
      color: rgba(white, 0.3);
    }
  }

  &--gray {
    color: $dark-blue;

    border-color: $dark-blue;
    opacity: 0.1;

    &:hover,
    &:focus {
      color: $dark-blue;

      opacity: 0.3;
    }

    &:active {
      color: rgba(white, 0.3);

      background-color: $dark-blue;
    }
  }
}
