.contacts {
  text-align: center;
}

.contacts__container {
  @include container;

  @media (min-width: $tablet-width) {
    @include container-tablet;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.contacts__title {
  font-weight: $light;
  font-size: 24px;
}

.contacts__address {
  font-style: normal;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.contacts__group {
  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 300px;
    padding: 0 20px;
  }
}

.contacts__group-title {
  display: block;

  font-size: 18px;
}

.contacts__link {
  font-weight: $light;
  font-size: 24px;
  color: $pink;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $dark-blue;
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;

    opacity: 0.3;
  }
}

.contacts__map img {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-height: 375px;

    object-fit: cover;
  }

  @media (min-width: $desktop-width) {
    min-height: 500px;
  }
}
