.contacts {
  text-align: center;
}

.contacts__container {
  padding: 20px;
}

.contacts__title {
  font-weight: 300;
  font-size: 24px;
}

.contacts__address {
  font-style: normal;
}

.contacts__group-title {
  display: block;

  font-size: 18px;
}

.contacts__link {
  font-weight: 300;
  font-size: 24px;
  color: #d22856;
  text-decoration: none;
}
