.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.copyright__text {
  margin: 0 5px;
}

.copyright__logo {
  margin: 0 5px;

  outline: none;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }

  svg {
    fill: $pink;
  }

  &:hover,
  &:focus {
    svg {
      fill: $dark-blue;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
