.hero {
  text-align: center;
  color: white;

  background-color: $dark-blue;
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}

.hero__container {
  @include container;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 236px;

  @media (min-width: $tablet-width) {
    @include container-tablet;

    min-height: 440px;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;

    min-height: 400px;
  }
}

.hero__title {
  font-weight: $light;
  font-size: 24px;
}
