.info__header {
  text-align: center;
}

.info__container {
  @include container;

  @media (min-width: $tablet-width) {
    @include container-tablet;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.info__header-text {
  font-weight: $light;
  font-size: 24px;
}

.info__main {
  background-color: $gray;
}

.info__container--main {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.info__features {
  padding-top: 10px;

  text-align: center;

  @media (min-width: $tablet-width) {
    order: 2;
    width: 310px;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: auto;

    text-align: center;
  }
}

.info__feature {
  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: 33.333%;
    padding: 0 10px;
  }
}

.info__feature-img-cntr {
  @media (max-width: $desktop-width - 1) {
    display: none;
  }
}

.info__feature-title {
  font-size: 18px;
  color: black;
}

.info__feature-text {
  line-height: 24px;
}

.info__img-container {
  text-align: center;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 310px;
    padding-right: 10px;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
