.price-list {
  padding-top: 40px;
  padding-bottom: 20px;

  background-color: $gray;
}

.price-list__items {
  margin: 0 auto;

  border-collapse: collapse;
  text-transform: uppercase;
}

.price-list th {
  padding: 15px;

  color: white;

  background-color: $dark-blue;
  border: 2px solid $gray--dark;
  border-top-width: 0;
  border-bottom-width: 0;
}

.price-list__item-name {
  font-size: 18px;
}

.price-list__cost {
  font-weight: $light;
  font-size: 24px;
}

// .price-list__hit {
//   position: absolute;
//   top: 0;
//   left: 0;
//
//   display: block;
//   width: 74px;
//   height: 73px;
//
//   background-image: url('../img/bg-hit.svg');
// }

.price-list td {
  padding: 20px;

  background-color: white;
  border: 2px solid $gray--dark;
  border-top-width: 0;

  &:nth-child(odd) {
    border-right-color: transparent;
  }
}

.price-list__toggles {
  margin: 20px 0;

  text-align: center;
}
