.price-list {
  padding-top: 40px;
  padding-bottom: 20px;

  background-color: $gray;
}

.price-list__container {
  overflow-x: scroll;
}

.price-list__items {
  margin: 0 auto;

  border-collapse: collapse;
  text-transform: uppercase;
}

.price-list__items th {
  box-sizing: border-box;
  min-width: 280px;
  padding: 15px;

  color: white;

  background-color: $dark-blue;
  border: 2px solid $gray--dark;
  border-top-width: 0;
  border-bottom-width: 0;

  @media (min-width: $tablet-width) {
    min-width: 150px;
  }

  @media (min-width: $desktop-width) {
    min-width: 230px;
  }

  &:first-child {
    background-color: transparent;
    border-color: transparent;
  }
}

.price-list__item-name {
  font-size: 18px;
}

.price-list__cost {
  font-weight: $light;
  font-size: 24px;
}

// .price-list__hit {
//   position: absolute;
//   top: 0;
//   left: 0;
//
//   display: block;
//   width: 74px;
//   height: 73px;
//
//   background-image: url('../img/bg-hit.svg');
// }

.price-list__items td {
  box-sizing: border-box;

  background-color: white;
  border: 2px solid $gray--dark;
  border-top-width: 0;

  @media (min-width: $tablet-width) {
    text-align: center;
  }

  &:nth-child(even) {
    border-right-color: transparent;
  }
}

.price-list__items th:first-child,
.price-list__items td:first-child {
  @media (max-width: $tablet-width - 1) {
    display: none;
  }
}

.price-list__items tr:nth-child(2) td:first-child {
  border-top-width: 2px;
}

.price-list__category-name {
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;

    span {
      display: none;
    }
  }

  &:first-child {
    @media (min-width: $tablet-width) {
      padding: 5px 15px;

      text-align: left;
      text-transform: none;

      span {
        display: inline;
      }
    }
  }
}

.price-list__category-status {
  padding: 20px;

  @media (min-width: $tablet-width) {
    height: 45px;
    padding: 5px 15px;
  }
}

.price-list__toggles {
  margin: 20px 0;

  text-align: center;
}
