.promo {
  color: white;

  background-color: #1d2631;
}

.promo__img-wrap {
  display: flex;
  align-items: flex-end;
  width: 320px;
  min-height: 460px;
  margin: 0 auto;

  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
}

.promo__download {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 25px 20px;

  text-align: center;
}

.promo__download-list {
  margin: 30px 0;
}

.promo__download-text {
  font-weight: $light;
  line-height: 24px;
}
