.slider__container {
  @include container;

  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    @include container-tablet;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.slider__row {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.slider__arrow {
  @include button-reset;

  cursor: pointer;

  @media (max-width: $desktop-width - 1) {
    display: none;
  }

  &:hover,
  &:focus {
    outline: none;
  }
}

.slider__arrow-icon {
  fill: #b2b2b2;
}

.slider__arrow--right .slider__arrow-icon {
  transform: rotate(180deg);
}

.slider__arrow {
  &:hover,
  &:focus {
    .slider__arrow-icon {
      opacity: 0.6;

      fill: $dark-blue;
    }
  }

  &:active {
    .slider__arrow-icon {
      opacity: 0.1;

      fill: $dark-blue;
    }
  }
}

.slider__toggle {
  @include button-reset;

  width: 6px;
  height: 6px;
  margin: 5px 10px;

  background-color: $dark-blue;
  border-radius: 50%;

  @media (min-width: $desktop-width) {
    display: none;
  }

  &[disabled] {
    background-color: white;
    box-shadow: 0 0 0 3px black;
  }

  &:not([disabled]) {
    cursor: pointer;
    opacity: 0.3;

    &:focus,
    &:hover {
      outline: none;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
