.page-footer {
  text-align: center;
}

.page-footer__container {
  @include container;

  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    @include container-tablet;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.page-footer__logo {
  display: block;

  outline: none;

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 35px;
  }

  @media (min-width: $tablet-width) {
    width: 150px;
  }

  svg {
    color: $dark-blue;
  }

  &:hover,
  &:focus {
    svg {
      color: $pink;
    }
  }

  &:active {
    opacity: 0.3;

    svg {
      color: $dark-blue;
    }
  }
}

.page-footer__social {
  @media (max-width: $tablet-width - 1) {
    margin-bottom: 35px;
  }

  @media (min-width: $tablet-width) {
    width: 200px;
  }
}

.page-footer__copyright {
  @media (min-width: $tablet-width) {
    width: 150px;
  }
}
